<%% if !@msg.blank? %>
  <div id ="upload_msg"><%%= render :partial => 'import_msg' %></div>
<%% end %>
<div id="download_template_div">
  <%%=  render :partial => 'form', :locals => {:download_path => new_<%= singular_table_name %>_path(:format => :xls),
                                                :upload_path => <%= index_helper %>_path} %>
</div>